[Desktop Entry]
Name=Zsírozás
Icon=harbour-zsirozas
Exec=harbour-zsirozas
Type=Application
Categories=Game;
X-Sailfish-ApplicationType=Silica

[X-Sailjail]
Permissions=
OrganizationName=edp17
ApplicationName=harbour-zsirozas
